In this tutorial we'll make an auto-fill certificate from a dataframe. 
<br> Yes, all u need is just an excel document and a blank certificate.

#1 You need to read the excel and convert it to csv and then make a dataframe from it using pandas. i already provided sample excel to try on

In [3]:
import pandas as pd
  
read_file = pd.read_excel ("OP_gathering.xlsx")
  
read_file.to_csv ("Test2.csv", 
                  index = None,
                  header=True)
    
df = pd.DataFrame(pd.read_csv("Test2.csv"))
  
df

                      Name Present
0             Caesar Clown      No
1         Bartholomew Kuma     Yes
2         Bartholomew Kuma     Yes
3              Boa Hancock     NaN
4    Donquixote Doflamingo     Yes
5           Dracule Mihawk     Yes
6           Edward Newgate      No
7              Eustass Kid     Yes
8             Gol D. Roger      No
9                   Kaidou     Yes
10         Monkey D. Luffy     Yes
11        Monkey D. Dragon     Yes
12              Nico Robin     Yes
13                 Otohime     Yes
14          Portgas D. Ace      No
15       Tony Tony Chopper     Yes
16  Trafalgar D. Water Law     Yes
17            Dr. Vegapunk     NaN

After seeing the data, we will preprocessing the data first. Consist of:
- Checking missing value & Deleting it
- Delete duplicate name
- Delete name of the person who absent

#2 Check & calculate missing value for each columns

In [4]:
print(df.isnull().any())

Name       False
Present     True
dtype: bool

In [5]:
print(df.isnull().sum())

Name       0
Present    2
dtype: int64

We found out that we have 2 Missing Value on Present column, we will delete it and also delete person who doesn't present.

#3 Delete missing value and also only include name that present at that time (Present = Yes)

In [6]:
df = df[df['Present'] == "Yes"].dropna()
df

                      Name Present
1         Bartholomew Kuma     Yes
2         Bartholomew Kuma     Yes
4    Donquixote Doflamingo     Yes
5           Dracule Mihawk     Yes
7              Eustass Kid     Yes
9                   Kaidou     Yes
10         Monkey D. Luffy     Yes
11        Monkey D. Dragon     Yes
12              Nico Robin     Yes
13                 Otohime     Yes
15       Tony Tony Chopper     Yes
16  Trafalgar D. Water Law     Yes

#4 Drop duplicate name and fill it with the first submission

In [7]:
df.drop_duplicates(keep='first',inplace=True)
df

                      Name Present
1         Bartholomew Kuma     Yes
4    Donquixote Doflamingo     Yes
5           Dracule Mihawk     Yes
7              Eustass Kid     Yes
9                   Kaidou     Yes
10         Monkey D. Luffy     Yes
11        Monkey D. Dragon     Yes
12              Nico Robin     Yes
13                 Otohime     Yes
15       Tony Tony Chopper     Yes
16  Trafalgar D. Water Law     Yes

We will use PIL library to automate the certificate and os for the path.

In [8]:
from PIL import Image, ImageDraw, ImageFont
import os
import numpy as np

#5 Open the certificate image to check the size (width & height)

In [10]:
image = Image.open("blank_certificate.png")

width, height = image.size

print(width, height)

2000 1414

#6 Final Process: Auto-fill Certificate

In [11]:
#You can custom the font from your local repository

font = ImageFont.truetype('C:/Users/YourPath/Fonts/dosis-extrabold.ttf',80)

#Fill with the certificate image width & height
W, H = (2000,1414)

#draw.text position can be customized to your own cert
#default position: center
#((W-w)/2)-5 for width position
#(H-h)/2) for height position
#Enter the 'Name' column
#Save to your own path
#We will save the data based from the Name Table, you can also change it
#Default format is png

for index,j in df.iterrows():
    img = Image.open('blank_certificate.png')
    draw = ImageDraw.Draw(img)
    msg = j['Name']
    w, h = draw.textsize(msg, font = font)
    draw.text((((W-w)/2)-5,((H-h)/2)),text='{}'.format(j['Name']), fill=(41,46,40),font=font)
    img.save('C:/Users/YourPath/{}.png'.format(j['Name']))